# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosytem are summarized.

# **Objectives:**
- List Data Science Languages
- List Data Science Libraries
- List Data Scince Tools
- Evaluate Arithmentic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Pandas
4. Matplotlib
5. Keras

|Data Science Tools |
|---------- |
|RStudio |
|TensorFlow |
|Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+ 5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60.

In [2]:
200/60

3.3333333333333335

## Author

Aditi M